# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
.DS_Store

# Swift
.swift-version
.swiftpm/

# CocoaPods
Pods/
Podfile.lock
